connexion==2.7.0
elasticsearch==7.10.1
langchain==0.0.308
numpy==1.24.4
openai==0.27.6
pandas==1.2.4
Pillow==7.1.2
pydash==4.9.0
pymilvus==2.2.15
sentence_transformers==2.2.2
tritonclient==2.27.0
google-api-python-client==2.1.0
ipython==8.12.3
ipykernel==6.28.0
tiktoken==0.7.0