accelerate==0.31.0
addict==2.4.0
bitsandbytes==0.43.1
connexion==2.7.0
datasets==2.20.0
dateparser==1.2.0
deepspeed==0.10.2
editdistance==0.6.2
einops==0.7.0
elasticsearch==7.10.1
fairscale==0.4.0
Flask==2.0.3
google-api-python-client==2.1.0
gradio
gradio_client
jsonlines==4.0.0
jsonschema==3.2.0
langchain==0.0.308
markdown2==2.4.10
matplotlib==3.7.4
more_itertools==10.1.0
nltk==3.8.1
numpy==1.24.4
openai==0.27.6
openapi-spec-validator==0.4.0
opencv_python_headless==4.5.5.64
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
peft==0.11.1
Pillow==10.1.0
protobuf==4.25.0
pydash==7.0.6
pymilvus==2.2.15
PyMuPDF==1.22.5
pytesseract==0.3.6
pytest==7.1.2
regex==2023.12.25
sacrebleu==2.3.2
seaborn==0.13.0
sentence_transformers==2.2.2
sentencepiece==0.2.0
shortuuid==1.0.11
socksio==1.0.0
spacy==3.7.2
tensorboard==2.17.0
tiktoken==0.7.0
timm==0.9.10
transformers==4.41.2
tritonclient==2.27.0
trl==0.9.4
typing_extensions==4.8.0
uvicorn==0.24.0.post1

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
